* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
}

#game {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #4ec0ca;
    overflow: hidden;
}

#bird {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    top: 200px;
    left: 50px;
}

.pipe {
    position: absolute;
    width: 60px;
    height: 200px;
    background-color: green;
    bottom: 0;
}

#pipe {
    right: -60px;
}

#pipe2 {
    right: -180px;
    top: 0;
    bottom: unset;
    height: 150px;
}
